* {
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 119, 1);
}

nav {
    background-color: rgb(31, 57, 64);
    /*width height etc*/
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    font-family: "DM Sans", Sans-Serif;
    font-size: 22px;
}

.hero {
    background-image: url(/images/lilypad-pond.webp);
    width: 100%;
    text-align: center;
}

h1 {
    font-family: "Water Brush", cursive;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: rgb(31, 57, 64);
}


.hero p {
    font-size: 25px;
    color:rgb(31, 57, 64);
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*add section to style hero paragraphs
line spacing, padding etc*/

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h2, h3 {
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: normal;
    font-optical-sizing: auto;
    color: rgb(31, 57, 64);
}

p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    color: rgb(100, 119, 1);
    font-size: 22px;
}

section {
    background-color: rgb(223, 242, 220);
    padding: 5px 10px;
}

/*style the lists*/

a:link {
    text-decoration: none;
    color:rgb(198, 151, 34);
}

a:hover {
    color: rgb(250, 224, 103);
}

a:visited {
    color: rgb(57, 160, 192);
}

footer p {
    color: rgb(31, 57, 64);
}